<div
  class='modal fade'
  id='signupModal'
  tabindex='-1'
  aria-labelledby='signupModalLabel'
  aria-hidden='true'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
>

  <div
    class='modal-dialog modal-dialog-centered modal-md model--fullscreen-lg-down'
  >
    <div class='modal-content'>
      <div class='modal-header'>

      {{!-- Close button --}}
        <button
          type='button'
          class='btn-close btn-close-white'
          data-bs-dismiss='modal'
          aria-label='Close'
          id='close-signup-modal'
        ></button>
      </div>
 


      <div class='modal-body p-5 '>
        <h1>Create your account</h1>


        <form action="" method="POST" class="mt-4">

          <input type="text" placeholder="Full Name" id="fullName" required class="form-control form-control-lg w-100" />

        {{!-- Date of Birth --}}
        <div class='my-4 '>
          <label for='dof' class='form-label'>Date of Birth</label>
          <small class="form-text text-muted d-block">this will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</small>
        <div class='row mt-2 '>
          <div class='col-5'>
            <select
              class='form-select'
              id='dofMonth'
              aria-label='Default select example'
            >
              <option selected disabled>Month</option>
              {{#each datepayload.months}}
                <option value='{{this.Value}}'>{{this.Name}}</option>
              {{/each}}
            </select>
          </div>
          <div class='col-3'>
            <select
              class='form-select'
              id='dofDay'
              aria-label='Default select example'
            >
              <option selected disabled>Day</option>
              {{#each datepayload.days}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class='col-4'>
            <select
              class='form-select'
              id='dofYear'
              aria-label='Default select example'
            >
              <option selected disabled>Year</option>
              {{#each datepayload.years}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>

          </div>
          </div>
        </div>

      </div>
      
      </div>
    </div>
  </div>